aiocron==1.8
aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
Babel==2.9.1
blinker==1.6.2
branca==0.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
croniter==1.3.14
dnspython==2.3.0
Flask==2.3.2
folium==0.14.0
frozenlist==1.3.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
magic-filter==1.0.9
MarkupSafe==2.1.2
mongoengine==0.27.0
multidict==6.0.4
numpy==1.24.3
pymongo==4.3.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
six==1.16.0
tzlocal==5.0.1
urllib3==2.0.2
Werkzeug==2.3.4
yarl==1.9.2
