{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if context == 'created' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Гонка успешно создана</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="container-md">
  <div class="jumbotron">
    <h1 class="display-4">Управление мероприятиями</h1>
    <p class="lead">Редактирование существующих мероприятий и создание новых.</p>
    <hr class="my-4">
    <div class="btn-group" role="group">
      <a class="btn btn-light" href="{% url 'app:admin_new_event' %}">Создать</a>
      <a class="btn btn-light" href="#oncoming-events">Предстоящие</a>
      <a class="btn btn-light" href="#ended-events">Прошедшие</a>
    </div>
    <br><br>
    <div id="oncoming-events">
      <h3>Предстоящие гонки</h1>
      {% for event in upcoming_races %}
      <div class="card text-center">
        <div class="card-header">
          {{ event.code }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ event.name }}</h5>
          <p class="card-text">Категории: {{event.categories }}</p>
          <p class="card-text">Дистанция: {{event.distance }}</p>
          <p class="card-text">Стоимость: {{event.price }}</p>
          <a href="#" class="btn btn-primary">Редактировать</a>
          <a href="{% url 'app:admin_event_download' race_id=event.id %}" class="btn btn-primary">Участники</a>
        </div>
        <div class="card-footer text-muted">
          {{ event.start }}
        </div>
      </div>
      {% endfor %}
    </div>
    <br><br>
    <div id="ended-events">
      <h3>Прошедшие гонки</h1>
      {% for event in ended_races %}
        <div class="card text-center">
          <div class="card-header">
            {{ event.code }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-text">Категории: {{event.categories }}</p>
            <p class="card-text">Дистанция: {{event.distance }}</p>
            <p class="card-text">Стоимость: {{event.price }}</p>
            <a href="#" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'app:admin_event_download' race_id=event.id %}" class="btn btn-primary">Участники</a>
          </div>
          <div class="card-footer text-muted">
            {{ event.start }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}